h1 {
  color: rgb(41, 40, 40);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

h1:hover{
  opacity: 50%;
  transition: 1.5s;
}

select{
 font-size: 20px;
 padding-bottom: 10px;
 padding-top: 10px;
 margin-left: 100px;
 margin-bottom: 30px;
}

img{
  padding: 15px;
  width: 250px;
}

p {
  font-size: 12px;
  font-family:'Roboto Condensed', sans-serif;
  margin:auto;
}

h2 {
  font-size: 30px;
  font-family: 'Lexend Tera', sans-serif;
  margin-top: 40px;
}

section:nth-child(odd){
  
  height: 450px;
  width: 400px;
}
section:nth-child(even){
  
  height: 450px;
  width: 400px;
}
section:nth-child(odd):hover{
  background-color: red;
  opacity: 50%;
}

section:nth-child(even):hover{
  background-color: gold;
  opacity: 50%;
}